{% extends 'base.html' %}

{% block body %}
<style>
    tr:nth-child(even) {background-color: #f2f2f2}
    th { background-color: #4CAF50;
        color: white; }
    table { border-collapse: collapse; }
    table, th, td { border: 1px solid black; }
</style>
<h1>Published contests</h1>
<table>
    <thead>
        <tr><th>Contest</th><th>Starts</th><th>Ends</th><th>Max Submissions Per Day</th></tr>
    </thead>
    <tbody>
    {% for contest in contests %}
    <tr>
        <td><a href={% url 'contest' contest.pk%}>{{contest}}</a></td>
        <td>{{contest.start_time}}</td>
        <td>{{contest.end_time}}</td>
        <td>{{contest.max_submissions_per_day}}</td>
    </tr>
    {% endfor %}
</ul>
{% endblock %}
