{% extends 'contest/contest_home.html' %}
{% block body %}
<h1>Submission Form</h1>
{% if sub_limit_reached %}
    <p>You have reached your submission limit for the day.</p>
{% else %}
    <form action="{% url 'contest_submit' pk %}" method=POST enctype="multipart/form-data" >
        {% csrf_token %}
        {{submit_form.as_p}}
        <input type='submit' value='Submit'/>
    </form>
{% endif %}
<hr>
<h1>Past submissions</h1>
<table>
    <thead>
        <tr><th>Stamp</th><th>Comment</th><th>Score</th></tr>
    </thead>
    <tbody>
        {% for sub in past_submissions %}
        <tr>
            <td>{{sub.stamp}}</td>
            <td>{{sub.comment}}</td>
            <td>{{sub.score}}</td>
        </tr>
        {% endfor %}
    </tbody>

{% endblock %}
