{% extends 'base.html' %}
{% block body %}
<style>
    tr:nth-child(even) {background-color: #f2f2f2}
    th { background-color: #4CAF50;
        color: white; }
    table { border-collapse: collapse; }
    table, th, td { border: 1px solid black; }
</style>

<table>
    <thead>
        <tr>
            <th>Rank</th>
            <th>NickName</th>
        </tr>
    </thead>
    <tbody>
        {% for player in players %}
        <tr>
                <td>{{forloop.counter}}</td>
                <td>{{player}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
